@model Product

<form method="post">
    @*This is required for editing THIS IS SUPER SUPER IMPORTANT*@
    <input asp-for="Id" hidden />
    <div class="mt-4 p-3 border">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="All"></div> *@
        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" disabled class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Title"></label>
            <input asp-for="Title" class="form-control" disabled />
        </div>
        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>
